html{
    display: block;
    height: 3781px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
#bg{
    background-image: url(/img/images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 990px;
    height: 3781px
}
/*top*/
.title img{
    position: relative;
    padding-left: 70px;
}
.image{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}
.kare-top, .mabushi-top{
    padding-left: 10px;
}
.ramen-top{
    padding-left: 20px;
}
#top .image img{
    width: 290px;
    height: auto;
}
/* mid*/
#mid .mid-title{
    position: relative;
    margin-top: 100px;
    margin-bottom: -20px;
    padding-left: 45px;
}
.button{
    height: 250px;
    background-image: url(/img/images/bg-button.png);
    display: flex;
    justify-content: space-evenly;
}
.button img{
position: relative;
}