@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html{
    display: block;
    height: 3781px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
#bg{
    background-image: url(/img/images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 990px;
    height: 3781px
}
/* top */
.title img{
    position: relative;
    padding-left: 70px;
}
.image{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}
.kare-top, .mabushi-top{
    padding-left: 10px;
}
.ramen-top{
    padding-left: 20px;
}
#top .image img{
    width: 290px;
    height: auto;
}
/* mid */
#mid .mid-title{
    position: relative;
    margin-top: 100px;
    margin-bottom: -20px;
    padding-left: 45px;
}
.button{
    height: 250px;
    background-image: url(/img/images/bg-button.png);
    background-position: center;
    display: flex;
    justify-content: space-evenly;
}
.button img{
position: relative;
}
/* menu */
#kare{
    height: 665px;
}
#ramen{
    height: 665px;
}
#mabushi{
    height: 665px;
}
.kare-title{
    position: relative;
    margin-top: 100px;
    margin-bottom: -20px;
    padding-left: 320px;
}
.kare-image{
    border: none;
    border-radius: 0px 30px 30px 0px;
    width: 380px;
    height: 400px;
    margin-top: 100px;
}
.kare-image{
    background-image: url(/img/images/魚介カレー.jpg);
    background-size: 585px 400px;
    background-position: 385px;
}
.ramen-title{
    position: relative;
    margin-top: 65px;
    margin-bottom: -20px;
    padding-left: 260px;
}
.ramen-image{
    border: none;
    border-radius: 0px 30px 30px 0px;
    width: 380px;
    height: 400px;
    margin-top: 100px;
}
.ramen-image{
    background-image: url(/img/images/牛タンラーメン.jpg);
    background-size: 870px 600px;
    background-position-x: 620px;
    background-position-y: 540px;
}
.mabushi-title{
    position: relative;
    margin-top: 55px;
    margin-bottom: -20px;
    padding-left: 320px;
}
.mabushi-image{
    border: none;
    border-radius: 0px 30px 30px 0px;
    width: 380px;
    height: 400px;
    margin-top: 100px;
}
.mabushi-image{
    background-image: url(/img/images/ひつまぶし.jpg);
    background-size: 585px 400px;
    background-position: 385px;
}